{% extends "template.html" %}

{% block nav %}

<li class="nav-item active">
    <a class="nav-link" href="{{ url_for('student') }}">view schedule<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{{ url_for('addDrop') }}">add/drop<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{{ url_for('home') }}">logout<span class="sr-only">(current)</span></a>
</li>

{% endblock nav %}
<!-- Class list -->
<div style="overflow: scroll">



</div>
<!--Text, add, drop. Will be using CRN-->
<div>
    <form method="POST" action="" autocomplete="off">
        {{ form.hidden_tag() }}
        <div>
            {{ form.AddClass.label() }}
            {{ form.AddClass() }}
        </div>
    </form>
</div>

<!-- preview only need CRN and CLASS NAME -->
<div>

</div>