{% extends "template.html" %}

{% block nav %}
<li class="nav-item active">
    <a class="nav-link" href="{{ url_for('administrator') }}">Exit<span class="sr-only">(current)</span></a>
</li>
{% endblock nav %}

{% block content %}

    <h1 style="margin-top: 2rem; margin-bottom: 2rem">All Users</h1>
    <div style="overflow: scroll; background-color: lightgray; margin-bottom:2rem;">
        <strong>username | Permission Level: (level)</strong>
        {% for user in users %}
            <p>{{ user.username }} | Permission Level: {{ user.permissions }}</p><br>
        {% endfor %}
    </div>

    <div>
        <form method="POST" action="" autocomplete="off">
            {{ form.hidden_tag() }}
            <div>
                {{ form.username.label() }}
                {{ form.username() }}
            </div>
            <div>
                {{ form.permissions.label() }}
                {{ form.permissions() }}
            </div>
            <div>
                {{ form.submit() }}
            </div>
        </form>
    </div>
    
{% endblock content %}