{% extends "template.html" %}

{% block nav %}

<li class="nav-item active">
    <a class="nav-link" href="{{ url_for('instructor') }}">Instructor Home<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{{ url_for('instructorClass') }}">Edit Class<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{{ url_for('home') }}">logout<span class="sr-only">(current)</span></a>
</li>

{% endblock nav %}

{% block content %}
<h1 style="margin-top: 2rem; margin-top: 6rem;">All Courses</h1>
<div style="overflow: scroll; background-color: lightgray;">
    <strong>Course (CRN) | Timeslot</strong>
    {% for course in courses %}
        <p>{{ course.title }} ({{ course.crn }}) | {{ course.days }}@{{ course.time }}</p><br>
    {% endfor %}
</div>
<!-- Student schedule-->
<div>

<p>Ability to change class size and time for the class and see full detail of the class</p>

</div>



<div style="padding-top:20%;">
    {{ form.hidden_tag() }}
    <div>
        {{ form.crn.label() }}
        {{ form.crn() }}
    </div>
    <div>
        <p>
            NewTime: 
        {{ form.newday.label() }}
        {{ form.newday() }}
        {{ form.newtime.label() }}
        {{ form.newtime() }}
        </p>
        {{ form.submit() }}
    </div>
    <div style="padding-top:1%;">
        <p>Jin Whatever you want in here </p>
        <p>{{ course.title }} ({{ course.crn }}) | {{ course.days }}@{{ course.time }}</p><br>
    </div>

</div>
{% endblock content %}