{% extends "template.html" %}

{% block nav %}
<li class="nav-item active">
    <a class="nav-link" href="{{ url_for('administrator') }}">Exit<span class="sr-only">(current)</span></a>
</li>
{% endblock nav %}

{% block content %}

    <div>
        <form method="POST" action="" autocomplete="off">
            {{ form.hidden_tag() }}
            <div>
                {{ form.username.label() }}
                {{ form.username() }}
            </div>
            <div>
                {{ form.password.label() }}
                {{ form.password() }}
            </div>
            <div>
                {{ form.permissions.label() }}
                {{ form.permissions() }}
            </div>
            <div>
                {{ form.submit() }}
            </div>
        </form>
    </div>
    
{% endblock content %}